$ui-color-black: #141414;
$ui-color-blue: #4362CE;
$ui-color-blue-light: #9FB4FF;
$ui-color-transparent: #E0E0E0;
$ui-color-background-color: #FFFFFF;
$ui-color-add: linear-gradient(180deg, #219169 0%, #157754 100%);

$ui-color-text-black: $ui-color-black;
$ui-color-text-grey: #4F4F4F;
$ui-color-text-white: $ui-color-transparent;


$ui-color-system-red: #EB5757;



// old
$ui-color-brand-main: #0058A9;
$ui-color-brand-light: #3896EE;

$ui-color-accent-orange: #F3A10F;
$ui-color-accent-orange-main: rgba(255, 167, 1, 1);
$ui-color-accent-orange-main-60: rgba(255, 167, 1, .6);
$ui-color-accent-orange-main-40: rgba(255, 167, 1, .4);
$ui-color-accent-orange-main-20: rgba(255, 167, 1, .2);
$ui-color-accent-orange-dark: #FF8901;

$ui-color-text-main: #4B5959;
$ui-color-text-light: #AFB6B9;

$ui-color-ui-600: #CED4DA;
$ui-color-ui-200: #E0E4E7;
$ui-color-ui-0: #FFFFFF;
